# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/i_mvpa.ts.adligo.org
/mvpa.ts.adligo.org
/collections.ts.adligo.org
/collections.ts.adligo.org
/collections_tests.ts.adligo.org
/ctx.ts.adligo.org
/i_collections.ts.adligo.org
/collections.ts.adligo.org
/collections_tests.ts.adligo.org
/ctx.ts.adligo.org
/i_collections.ts.adligo.org
/i_ctx.ts.adligo.org
/collections.ts.adligo.org
/collections_tests.ts.adligo.org
/collections.ts.adligo.org
/collections_tests.ts.adligo.org
/collections.ts.adligo.org
/collections_tests.ts.adligo.org
/ctx.ts.adligo.org
/depot
/i_collections.ts.adligo.org
/i_ctx.ts.adligo.org
/i_io.ts.adligo.org
/i_log2.ts.adligo.org
/i_obj.ts.adligo.org
/i_strings.ts.adligo.org
/i_tests4ts.ts.adligo.org
/i_tests4ts_types.ts.adligo.org
/junit-xml-tests4j.ts.adligo.org
/junit-xml-tests4j_tests.ts.adligo.org
/log2.ts.adligo.org
/mvpa_examples.ts.adligo.org
/mvpa_tests.ts.adligo.org
/tests4ts.ts.adligo.org
/tests4ts_tests.ts.adligo.org
/type-guards.ts.adligo.org
/uit.ts.adligo.org
/uit_tests.ts.adligo.org
